<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corona</title>
</head>
<body>
    <section class="containAll">
            
            <li>Total Confirmed: <%= statt.TotalConfirmed%></li>
            <li>Total Deaths: <%= statt.TotalDeaths%></li>
            <li>Total Recovered:<%= statt.TotalRecovered%></li>
      
    </section>
</body>
</html>


