<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corona</title>
</head>
<body>
    <section class="containAll">
            
            <li>Total Confirmed: <%= statt.TotalConfirmed%></li>
            <li>Total Deaths: <%= statt.TotalDeaths%></li>
            <li>Total Recovered:<%= statt.TotalRecovered%></li>
      
    </section>
    <form action="/getCountryResult" method="post">
        <input type="text" name="country" id="country" placeholder="country name">
        <label>from</label>
    <input type="date" name="date1" id="date1">
    <label>to</label>
    <input type="date" name="date2" id="date2">
    <input type="submit" value="Search">
    </form>
</body>
</html>


