<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>covid</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <nav>
        <a href="/">home</a>
        <a href="/allCountries">all countries</a>
        <a href="/myRecords">my records</a>
    </nav>
    <section class="containAll">
        <div><li>Total Confirmed<%= data.TotalConfirmed%></li></div>
        <div><li>Total Deaths<%= data.TotalDeaths%></li></div>
        <div><li>Total Recovered<%= data.TotalRecovered%></li></div>
    </section>
    <form action="/getCountryResult" method="post">
    <input type="text" name="country" placeholder="Country Name">
    <input type="date" name="fromDate" >
    <input type="date" name="toDate" >
    <input type="submit" value="search">
    </form>
</body>
</html>
